<app-header></app-header>

<div class="card-container">
    <div class="card" *ngFor="let samurai of samuraiList">
      <h2>{{ samurai.samuraiName }}</h2>
      <p>Age: {{ samurai.age }}</p>
      <p>Description: {{ samurai.description }}</p>
      <p>Clan: {{samurai.clan.clanName}}</p>  
      <p>Rank: {{samurai.rank.rankName}}</p>
      
        <p>Weapon:</p>
        <li *ngFor="let weapon of samurai.weapon">{{ weapon.weaponName }}</li>
    
        <p>War: </p>
        <li *ngFor="let war of samurai.war">{{ war.warName }}</li>
        
        <p>Armour:</p>
        <li *ngFor="let armour of samurai.armour">{{ armour.armourName }}</li>

        <p>Horse:</p>
        <li *ngFor="let horse of samurai.horse">{{ horse.horseName }}</li>
        


    </div>
  </div>
  