<div class="header-container">
  <h1 class="vertical-text">S<br>A<br>M<br>U<br>R<br>A<br>I</h1>
  <hr class="short-line">
</div>

<div class="card-menu">
    <div class="card" routerLink="/samurai">
        <img src="/assets/img/samurai.jpg" alt="Samurai">
      <h2>Samurai</h2>
    </div>
    <div class="card" routerLink="/armour">
        <img src="/assets/img/armour.jpg" alt="Armour">
      <h2>Armour</h2>
    </div>
    <div class="card" routerLink="/clan">
        <img src="/assets/img/clan.jpg" alt="Clan">
      <h2>Clan</h2>
    </div>
    <div class="card" routerLink="/clothing">
        <img src="/assets/img/clothing.jpg" alt="Clothing">
      <h2>Clothing</h2>
    </div>
  </div>
  <div class="card-menu">
    <div class="card" routerLink="/horse">
        <img src="/assets/img/horse.jpg" alt="Horse">
      <h2>Horse</h2>
    </div>
    <div class="card" routerLink="/rank">
        <img src="/assets/img/rank.jpg" alt="Rank">
      <h2>Rank</h2>
    </div>
    <div class="card" routerLink="/war">
        <img src="/assets/img/war.jpg" alt="War">
      <h2>War</h2>
    </div>
    <div class="card" routerLink="/weapon">
        <img src="/assets/img/weapon.jpg" alt="Weapon">
      <h2>Weapon</h2>
    </div>
  </div>
  
  <div class="button-container">
    <button class="login-button" routerLink="/login">Login</button>
</div>