<app-header></app-header>


<div class="card-menu">
  <div class="card" routerLink="/samurai">
    <img src="/assets/img/samurai.jpg" alt="Samurai">
    <div class="card-content">
      <h2>Samurai</h2>
    </div>
  </div>
  <div class="card" routerLink="/armour">
    <img src="/assets/img/armour.jpg" alt="Armour">
    <div class="card-content">
      <h2>Armour</h2>
    </div>
  </div>
  <div class="card" routerLink="/clan">
    <img src="/assets/img/clan.jpg" alt="Clan">
    <div class="card-content">
      <h2>Clan</h2>
    </div>
  </div>
</div>

<div class="card-menu">
  <div class="card" routerLink="/horse">
    <img src="/assets/img/horse.jpg" alt="Horse">
    <div class="card-content">
      <h2>Horse</h2>
    </div>
  </div>
  <div class="card" routerLink="/war">
    <img src="/assets/img/war.jpg" alt="War">
    <div class="card-content">
      <h2>War</h2>
    </div>
  </div>
  <div class="card" routerLink="/weapon">
    <img src="/assets/img/weapon.jpg" alt="Weapon">
    <div class="card-content">
      <h2>Weapon</h2>
    </div>
  </div>
</div>


<!-- <div class="button-container">
    <button class="login-button" routerLink="/login">Login</button>
</div> -->
