<!-- create-samurai.component.html -->
<div class="div-text">Create Samurai</div>
<div class="form-Container">
  <form class="create-form" [formGroup]="samuraiForm" action="" (ngSubmit)="Create()">
    <input type="text" name="samuraiName" id="samuraiName" placeholder="name" formControlName="samuraiName">
    <!-- <small *ngIf="samuraiForm.get('samuraiName')?.invalid &amp;&amp; samuraiForm.get('samuraiName')?.touched"></small> -->
    <input type="text" name="description" id="description" placeholder="description" formControlName="description">
    <input type="number" name="age" id="age" placeholder="age" formControlName="age">

    <div class="dropdown-container">
        <!-- Weapons dropdown -->
        <div class="DDM-Weapon">Choose Weapon: </div>
        <select formControlName="weapon">
            <option value="" disabled selected hidden>Choose Weapon</option>
            <option *ngFor="let weapon of weapons" [value]="weapon.weaponId">{{ weapon.weaponName }}</option>
        </select>
    
        <!-- Clans dropdown -->
        <div class="DDM-Clan">Choose Clan: </div>
        <select formControlName="clan">
            <option value="" disabled selected hidden>Choose Clan</option>
            
            <option *ngFor="let clan of clans" [value]="clan.clanId">{{ clan.clanName }}</option>
        </select>
    
        <!-- Horses dropdown -->
        <div class="DDM-Horse">Choose Horse: </div>
        <select formControlName="horse">
            <option value="" disabled selected hidden>Choose Horse</option>
            <option *ngFor="let horse of horses" [value]="horse.id">{{ horse.horseName }}</option>
        </select>
    
        <!-- Armours dropdown -->
        <!-- <div class="DDM-Armour">Choose Armour: </div>
        <select formControlName="armourId">
            <option value="" disabled selected hidden>Choose Armour</option>
            <option *ngFor="let armour of armours" [value]="armour.id">{{ armour.armourName }}</option>
        </select> -->
    </div>
    

    <button class="create-button" type="submit">Create Samurai</button>
  </form>
</div>

<div>
  <hr class="hrtopnav"> 
</div>

<div class="div-center-content">
  <div class="samurai-list-container">
    <div *ngIf="samuraiList.length > 0">
      <h2 class="samuraiList">List of Samurais</h2>
      <div *ngFor="let samurai of samuraiList" class="samurai-item">
        <table>
            <thead>
              <tr>
                <th class="name">Name</th>
                <th class="description">Description</th>
                <th class="age">Age</th>
                <th class="weapon">Weapon</th>
                <th class="horse">Horse</th>
                <th class="armour">Armour</th>
                <th class="clan">Clan</th>
                <th class="action">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngIf="!isEditing || editedSamurai !== samurai">
                <td class="name">{{ samurai.samuraiName }}</td>
                <td class="description">{{ samurai.description }}</td>
                <td class="age">{{ samurai.age }}</td>
                <td class="weapon">{{ samurai.weapon?.weaponName }}</td>
                <td class="horse">{{ samurai.horse?.horseName }}</td>
                <!-- <td class="armour">{{ samurai.armour?.armourName }}</td> -->
                <td class="clan">{{ samurai.clan?.clanName }}</td>
                <td>
                  <button type="button" class="btn-delete" (click)="deleteSamurai(samurai.samuraiId)">Delete</button>
                  <button type="button" class="btn-edit" (click)="editSamurai(samurai)">Edit</button>
                </td>
              </tr>
              <tr *ngIf="isEditing && editedSamurai === samurai">
                <td colspan="8">
                  <form [formGroup]="editForm" (ngSubmit)="updateSamurai()">
                    <input type="text" formControlName="samuraiName" placeholder="Name">
                    <input type="text" formControlName="description" placeholder="Description">
                    <input type="number" formControlName="age" placeholder="Age">

                    <!-- Weapons dropdown -->
                    <div class="DDM-Weapon">Choose Weapon: </div>
                    <select formControlName="weaponId">
                        <option value="" disabled selected hidden>Choose Weapon</option>
                        <option *ngFor="let weapon of weapons" [value]="weapon.weaponId">{{ weapon.weaponName }}</option>
                    </select>
                
                    <!-- Clans dropdown -->
                    <div class="DDM-Clan">Choose Clan: </div>
                    <select formControlName="clanId">
                        <option value="" disabled selected hidden>Choose Clan</option>
                        <option *ngFor="let clan of clans" [value]="clan.clanId">{{ clan.clanName }}</option>
                    </select>
                
                    <!-- Horses dropdown -->
                    <div class="DDM-Horse">Choose Horse: </div>
                    <select formControlName="horseId">
                        <option value="" disabled selected hidden>Choose Horse</option>
                        <option *ngFor="let horse of horses" [value]="horse.id">{{ horse.horseName }}</option>
                    </select>
                
                    <!-- Armours dropdown -->
                    <div class="DDM-Armour">Choose Armour: </div>
                    <select formControlName="armourId">
                        <option value="" disabled selected hidden>Choose Armour</option>
                        <option *ngFor="let armour of armours" [value]="armour.id">{{ armour.armourName }}</option>
                    </select>

                    <button type="submit" class="update-button">Save Changes</button>
                    <button type="button" class="cancel-button" (click)="cancelEdit()">Cancel</button>
                  </form>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
